.THIS.c-container {
    border: 1px solid #d8dde6;
    margin-top:2px;
    margin-bottom: 5px;
  
}

.THIS .align {
    margin:10px;
    font-weight: bold;
}

.THIS .saveButton {
    margin:15px;
}

.THIS .filenameRule {
    margin:15px;
    color:#000080;
}