/* modal-container.THIS {
    padding: 0 var(--lwc-spacingMedium,0rem);
}
.THIS .slds-modal__content{padding: 10px 0px;}
        .THIS .slds-p-around--medium {
    padding: var(--lwc-spacingMedium,0rem);
} */