.THIS .CustHeadingSize {
    font-size: initial;
}

.THIS .scrollit {
    overflow: scroll;
    height: 170px;
}

.CustSpinnerBackgrnd.THIS {
    background-color: #ededf3;
}

.THIS .CustomeSpinner {
    margin-left: 50%;
    margin-top: 14%;
    top: unset;
    bottom: unset;
    left: unset;
    right: unset;
}